html,
body,
header,
.header,
.header__logo,
.body__background {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 1em;
  font-family: Objectivity, sans-serif;
  margin: 1em 1em 0em 1em;
  font-weight: normal;
}

p {
  font-family: Objectivity, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

body {
  background-color: black;
  height: 100%;
}

.body__background {
  background-image: url("images/weusebannerbg.jpg");
  position: fixed;
  opacity: 50%;
  height: 100%;
  display: block;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.header {
  flex: 0 0 auto;
  padding-top: 1em;
  margin-bottom: 1em;
}

.header__logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.container__textbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.textbox {
  background-color: rgba(68, 84, 106, 0.5);
  border-radius: 20px;
  font-size: 30px;
  color: white;
}

.textbox__important {
  text-decoration: underline;
}

.textbox__Success {
  text-align: center;
}

.textbox__Success__CommunityName {
  text-align: center;
  margin: 0.5em 1em 0.5em 1em;
}

.container__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7em;
  font-family: Objectivity, sans-serif;
}

.textbox__info {
  padding: 0.2em;
  text-align: center;
}

.classposter__sign {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster__download {
  display: flex;
  justify-content: center;
}

.poster__key {
  padding: 1rem;
}

.textbox__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.textbox__icon {
  width: 29px;
  height: 29px;
  margin: 0 5px;
}

@media (max-width: 860px) {
  h1 {
    font-size: 0.8em;
    margin: 0.8em 0.8em 0em 0.8em;
  }

  .header__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .textbox {
    font-size: 25px;
  }

  .textbox__info {
    font-size: 0.7em;
  }

  .textbox__App_store,
  .textbox__Google_Play {
    width: 8em;
    height: 2.5em;
  }

  .textbox__icon {
    width: 25px;
    height: 25px;
  }
}
